
@{Layout = null; }

@model Blog.View.UserCommentViewModel
<br />
<div><span style="color:cadetblue"><small>@Model.CreatedTime</small></span> &nbsp&nbsp <span style="color:brown"><small>@Model.User</small></span><br /><br /> @Model.Comment</div><br /><hr />
